<!DOCTYPE html>
<html lang="en">
<head>
  <title>#</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="..\css\estilo.css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <style>
    body{
      background-color: rgb(180, 160, 180);
    }
    #m1{
      padding-top: 20px;
      display: flex;
      background: white;
      justify-content: space-evenly;
    }
    #m1 div{
      width: 30%;
    }
    #m2{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
    }
    #m3{
      padding-top: 20px;
      display: flex;
      background: rgba(180, 180, 255, 0.726);
      justify-content: center;
    }
    #m3 div{
      width: 95%;
    }
    p{
      text-align: justify;
    }
    #m4{
      padding-top: 20px;
      display: flex;
      background: rgb(255, 199, 199);
      justify-content: space-around;
    }
    #m4 div{
      width: 45%;
    }
    #m5{
      padding-top: 20px;
      display: flex;
      justify-content: center;
    }
    #m5 div{
      width:10%
    }
  </style>
</head>
<body>
  <div id="m2">
    <div id="m1">
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias minus suscipit id ducimus molestiae fugit! Delectus amet minima tenetur error, cum hic, maiores laborum vel necessitatibus aut vero quae inventore!</p>
      </div>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias minus suscipit id ducimus molestiae fugit! Delectus amet minima tenetur error, cum hic, maiores laborum vel necessitatibus aut vero quae inventore!</p>
      </div>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias minus suscipit id ducimus molestiae fugit! Delectus amet minima tenetur error, cum hic, maiores laborum vel necessitatibus aut vero quae inventore!</p>
      </div>
    </div>

    <div id="m3">
      <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, consequuntur. Mollitia consequuntur totam sint. Veritatis repellat unde laborum, vel neque perspiciatis. Provident, velit voluptatibus veniam vel illo inventore placeat? Voluptas eveniet totam excepturi rerum! Quibusdam corrupti ab laudantium quod unde ea ratione minus minima cum, reprehenderit, eaque quaerat aspernatur incidunt vero ullam. Eum voluptatem quasi repellendus atque recusandae sit veniam tempora facere quisquam voluptate repudiandae, suscipit unde est quaerat assumenda ea possimus, illum eligendi. Illo in, a fuga id eum doloribus harum ullam ipsa earum, iure quibusdam tempore. Voluptatem earum dolorem odit, quibusdam eum possimus assumenda! Quisquam sint minima placeat. Id, sequi. Sunt maxime illum nemo, impedit vero culpa omnis eligendi asperiores cum dicta veritatis nam, mollitia aperiam porro consectetur. Ducimus, culpa eveniet nam facere animi molestiae ullam quis quas iure vel excepturi recusandae. Assumenda, tempore labore reiciendis fuga expedita placeat, quas error inventore quisquam, quidem suscipit blanditiis accusantium libero.</p>
      </div>
    </div>

    <div id="m4">
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias minus suscipit id ducimus molestiae fugit! Delectus amet minima tenetur error, cum hic, maiores laborum vel necessitatibus aut vero quae inventore!</p>
      </div>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias minus suscipit id ducimus molestiae fugit! Delectus amet minima tenetur error, cum hic, maiores laborum vel necessitatibus aut vero quae inventore!</p>
      </div>
    </div>
    <div id="m5">
      <div>
        <button><a class="nav-link" style="color: black;" href="http://localhost:3000/Aluno">Alunos</a></button>
      </div>
    </div>
  </div>
</body>
</html>
